*{
    margin: 0;
    padding: 0;
font-family: 'Poppins', sans-serif;
}
.card{
    width: 250px;
    height: 400px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin:10px;
   background-color: whitesmoke;

   
}
.card img{
 
background-color: whitesmoke;
max-width: 250px;
max-height: 275px;

}
.card h4{
    margin-top: 20px;
   background-color: whitesmoke;
}
.cards-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    grid-gap: 30px;
    columns: 5;
    align-items: center;
     background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
     background-repeat: no-repeat;
    
}
.card:hover{
    -webkit-box-shadow: -2px 3px 19px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -2px 3px 19px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -2px 3px 19px 0px rgba(0, 0, 0, 0.75);
        transition: transform 0.75s;
        transform: scale(1.1);
}
.nav{
     display: flex;
     flex-direction: row;
    justify-content: space-between;
     background-color: black;
     padding-bottom: 20px;
     color: white;
     list-style: none;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.nav a {
     padding: 10px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav h2{
     
    margin-top: 5px;
    font-style: italic;
    font-size: 2rem;
}
.nav input{
    display: block;
    outline: none;
    border: none;
    background-color: #e7e7e7;
margin-top: 20px;    
margin-right:40px ;
padding: 15px;
    width: 20vw;
}
.explore {
    position: inherit;
    text-decoration: none;
    margin-top: 5px;
    padding: 5px;
    color: green;
    background-color: white;    
    cursor: pointer;
    border: 1px solid green;

}
.explore:hover{
    color: white;
    background-color: green;
}

.nav li:hover{
    background-color: #7777;
}
.footer{
    position: absolute;
    height: 15vh;
    width: 100%;
    background-color: black;
    color: white;
}
.comment{
    float: right;
    padding-right: 15%;
    margin-top: 20px;
    
}
.textarea{
    background-color: gray;
    border: none;

    height: 75px;
}
.home{
   
    position: relative;
    text-align: center;
    color: white;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
        background-repeat: no-repeat;
}
.home img{
    margin-top: 20px;
    object-fit: cover;
}

.img-content{
    position: absolute;
    top: 30%;
    left: 60%;
    font-size: 2rem;
    text-align: right;
    transform: translate(-50%, -50%);
}
.text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(150%);
}
.home .h1{
    font-size: 1.5rem;
    border-bottom: 2px solid;
    color: gray;
    margin-top: 1px;
}
.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.images-folder img{
        margin: 20px;
        display: block;
        transition:transform 2s;
        border: 2px;

}
.images-folder img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.contents{
    display : flex;
    flex-direction: row;
    transform: translate(100px,-120px);
    font-size: 1.5rem;
    color: white;
}
.contact{
    
    float: right;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 50px;
}